html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  background: white;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

html, body, .root {
  height: 100%;
  position: relative;
}
